<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Custom Computers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
        <%if (title == "Home"){ %>
          <a class="nav-link active" aria-current="page" href="/home">
        <%} else { %>
        <a class="nav-link" aria-current="page" href="/home">
        <% } %>
          <i class="fa-solid fa-house"></i> Home</a>
        </li>

         <li class="nav-item">
         <%if (title == "Shop"){ %>
          <a class="nav-link active" aria-current="page" href="/shop_pg">
        <%} else { %>
        <a class="nav-link" aria-current="page" href="/shop_pg">
        <% } %>
          <i class="fa-solid fa-computer">
          </i> Shop Now</a>
        </li>

         <li class="nav-item">
          <%if (title == "Custom"){ %>
          <a class="nav-link active" aria-current="page" href="/custom">
        <%} else { %>
        <a class="nav-link" aria-current="page" href="/custom">
        <% } %>
          <i class="fa-solid fa-screwdriver-wrench"></i> Custom</a>
        </li>


         <li class="nav-item">
          <%if (title == "Contact Us"){ %>
          <a class="nav-link active" aria-current="page" href="/contact">
        <%} else { %>
        <a class="nav-link" aria-current="page" href="/contact">
        <% } %>
          <i class="fa-solid fa-address-card">
          </i> Contact us</a>
        </li>
      </ul>  
    </div>
  </div>
</nav>