<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!--main content-->
<main>
<body>
    <div class="hero-container">
        <div class="hero-text">
            <div class="title-text">
                Custom Computing
            </div>
            <div class ="slogan-text">
                Experience the power of custom
            </div>
            <a class="shop-btn" rel="noopener noreferrer" href="/shop_pg">Shop Now</a>
        </div>

        <img class="hero-img"src="Assets/images/2.png">
    </div>
    
</main>
<%- include partials/footer.ejs %>



    
   
