<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
    <body>
        <div class="hero-section">
            <h1>Explore our prebuilt computers!</h1>
        </div>

        <div class="container">

            <div class="card-row">

            <div class="product-card">
                <img class="product-img" src="Assets/images/armourycloseup.jpg">
                <div class="prod-title">Computer 1</div>
                <div class="prod-description">Performance PC build perfect for high refresh rate 2K Gaming. Runs esports titles above 300fps and can handle all AAA titles!</div>
            </div>

             <div class="product-card">
                <img class="product-img" src="Assets/images/bitfenix2.jpg">
                <div class="prod-title">Computer 2</div>
                <div class="prod-description">Performance PC build perfect for high refresh rate 2K Gaming. Runs esports titles above 300fps and can handle all AAA titles!</div>
            </div>

             <div class="product-card">
                <img class="product-img" src="Assets/images/coolermstr1.jpg">
                <div class="prod-title">Computer 3</div>
                <div class="prod-description">Performance PC build perfect for high refresh rate 2K Gaming. Runs esports titles above 300fps and can handle all AAA titles!</div>
            </div>

            </div>

            <div class="card-row">
                <div class="product-card">
                <img class="product-img" src="Assets/images/green2.jpg">
                <div class="prod-title">Computer 4</div>
                <div class="prod-description">Performance PC build perfect for high refresh rate 2K Gaming. Runs esports titles above 300fps and can handle all AAA titles!</div>
            </div>

             <div class="product-card">
                <img class="product-img" src="Assets/images/nzxt1.jpg">
                <div class="prod-title">Computer 5</div>
                <div class="prod-description">Performance PC build perfect for high refresh rate 2K Gaming. Runs esports titles above 300fps and can handle all AAA titles!</div>
            </div>

             <div class="product-card">
                <img class="product-img" src="Assets/images/white1.jpg">
                <div class="prod-title">Computer 6</div>
                <div class="prod-description">Performance PC build perfect for high refresh rate 2K Gaming. Runs esports titles above 300fps and can handle all AAA titles!</div>
            </div>
            </div>
        </div>
    </body>
</html>
<%- include partials/footer.ejs %>