<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
    <body>
        <div class="container">
            <div class="top-banner">
                
            </div>

        </div>
    </body>
</html>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>