/* custom css goes here */
.hero-container{
    border:2px solid blue;
    padding: 2px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
}

.container{
    border:2px solid blue;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content:space-around;
}

.hero-text{
    width: 40%;
    height:30%;
    border: 2px solid red;
    text-align: center;
    margin-right: 20%;
}

.title-text{
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-size: 260%;
    text-align: left;
    height: 60%;
    width: 100%;
    border: 2px dotted green;
    padding: 0%;
}

.slogan-text{
    border: 2px dotted lightgreen;
    padding: 2px;
}

.hero-img{
    height: 100px;
    width: 100px;
}

.top-banner{
    border: 2px solid red;
    width:100%;
    height:auto;
    text-align: center;
}

.card-row{
    margin-top: 5%;
    justify-content: space-around;
    display: flex;
    border:2px solid cyan;
    height: 20%;
    width: 100%;
    
    
}
.product-card{
    border: 2px solid green;
    border-radius: 20%;
    
}